<%- block('title').append('<title>Login</title>') %>
<%- block('scripts').append('<script src="/js/validate.js"></script>') %>
<%- layout('layouts/boilerplate') %>
<div class="py-4 container">
    <form action="/login" method="post" class="needs-validation" novalidate>
        <legend>Welcome back to YelpCamp!</legend>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button class="btn btn-success">Login!</button>
    </form>
</div>