<%- block('title').append('<title>Register</title>') %>
<%- block('scripts').append('<script src="/js/validate.js"></script>') %>
<%- layout('layouts/boilerplate') %>
<div class="py-4 container">
    <form action="/register" method="post" class="needs-validation" novalidate>
        <legend>Register on YelpCamp today!</legend>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button class="btn btn-success">Register!</button>
    </form>
</div>