<%- block('title').append('<title>New Campground</title>') %>
<%- block('scripts').append('<script src="/js/validate.js"></script>') %>
<%- layout('layouts/boilerplate') %>
<div class="py-4 container">
    <form action="/campgrounds" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <legend>Create a New Campground!</legend>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" id="price" name="price" required>
                <span class="input-group-text">per night</span>
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description" required></textarea>
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" required>
        </div>
        <div class="mb-3">
            <label for="images" class="form-label">Upload image(s)...</label>
            <input class="form-control" type="file" id="images" name="images" multiple>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mx-3">Create Campground</button>
            <a href="/campgrounds" class="btn btn-secondary mx-3">Cancel</a>
        </div>
    </form>
</div>